/* Add CSS Styling */

.second-element{
    color:blue;
    font-size: 36px;
}

#third-element{
    font-size: 24px;
}

#fourth-element{
    background-color: rgb(52, 221, 136);
    font-size: 24px;
    font-weight: bold;
}

p{
    background-color: rgb(224, 46, 100);
    font-family: Verdana,"DejaVu Sans","sans-serif";
}